<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./../bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/login.css">
</head>

<body>
    <div class="d-flex vw-100 vh-100">
        <div class="left-content">
            <div class="left-content-div">
                <h1>AgriVision</h1>
                <h4 class="fw-light">The ultimate command center for your poultry, plantation, and labour management.
                </h4>
            </div>
        </div>
        <div class="right-container w-50">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 24rem;">
                    <div class="w-25 mx-auto">
                        <img src="https://img.freepik.com/premium-vector/indian-farmer-standing-crops_1308360-44.jpg"
                            class="card-img-top mt-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold mt-1 mb-2">Welcome Back!</h5>
                        <p class="fw-normal text-center">Enter your details to access your dashboard.</p>
                        <div class="mt-3">
                            <div class="mb-3">
                                <label for="farmerEmail" class="form-label">Phone Number or Email</label>
                                <input type="email" class="form-control" id="farmerEmail"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="farmerPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="farmerPassword">
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div>
                                <div>
                                    <a href="#" class="link-success nav-link">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success w-100" id="login">Access Dashboard</button>
                            </div>
                            <p class="text-center mt-2">New to AgriVision? <a href="./farmer-signup.html" class="link-success nav-link d-inline">Create Account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./../scripts/login.js"></script>

</body>

</html>