<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Master</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/dashboard.css">
    <link rel="stylesheet" href="./../styles/livestock.css">
    <script>
        if (!localStorage.getItem('farmer')) {
            window.location.href = './views/farmer-login.html';
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-success py-3 fs-6">
        <div class="container">
            <a class="navbar-brand text-light me-5 fs-4" href="./../index.html">AgriVision</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2 pe-4 border-end border-success-subtle">
                        <a class="nav-link text-light active" aria-current="page" href="./../index.html"><i
                                class="fa-brands fa-flipboard"></i>Dashboard</a>
                    </li>
                    <li class="nav-item me-2 pe-4 border-end border-success-subtle">
                        <a class="nav-link text-light" href="./operations.html"><i class="fa-solid fa-file"></i>Operations Log</a>
                    </li>
                    <li class="nav-item me-2 pe-4 border-end border-success-subtle">
                        <a class="nav-link text-light" href="./assets.html"><i class="fa-solid fa-box"></i>Assets</a>
                    </li>
                    <li class="nav-item me-2 pe-4 border-end border-success-subtle">
                        <a class="nav-link text-light" href="./live-stock.html"><i class="fa-solid fa-paw"></i>Livestock</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link text-light" href="./knowledgehub.html"><i class="fa-solid fa-book-open"></i>Knowledge Hub</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="btn btn-outline-light" onclick="logoutFarmer()"><i
                        class="fa-solid fa-arrow-right-from-bracket me-1"></i>Logout</a>
            </div>
        </div>
    </nav>
    <div class="container w-75">
        <h2 class="border-bottom py-3">Add New Livestock Batch</h2>
        <div class="container bg-light border rounded py-3">
            <h4 class="border-bottom py-2">Batch Details & Flock Information</h4>
            <h6>🐔Batch Identity</h6>
            <div class="row my-2">
                <div class="col-lg-4 col-sm-12">
                    <label for="block-name" class="form-label">Block Name / ID</label>
                    <input type="text" class="form-control" id="block-name" placeholder="e.g., Aseel-2026-B1">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label for="livestock-type" class="form-label">Livestock Type</label>
                    <select id="livestock-type" class="form-select" onchange="populateBreed()">
                        <option selected>Open this select menu</option>
                    </select>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label for="livestock-breed" class="form-label">Breed</label>
                    <select id="livestock-breed" class="form-select">
                        <option selected>Open this select menu</option>
                    </select>
                </div>
            </div>
            <h6>Quantity & Age</h6>
            <div class="row mt-1 mb-2">
                <div class="col-lg-4 col-sm-12">
                    <label for="initial-count" class="form-label">Initial Count</label>
                    <input type="number" class="form-control" id="initial-count" placeholder="5">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label for="purchase-date" class="form-label">Hatch / Purchase Date</label>
                    <input type="date" class="form-control" id="purchase-date" placeholder="Hatch / Purchase Date" onchange="calculateCurrentAge()">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label for="livestock-age" class="form-label">Current Age (weeks)</label>
                    <input type="number" class="form-control" id="livestock-age" placeholder="Auto-calc" disabled>
                </div>
            </div>
            <h6>Purpose & Source</h6>
            <div class="row mt-1 mb-2">
                <div class="col-lg-6 col-sm-12">
                    <label for="primary-purpose" class="form-label">Primary Purpose</label>
                    <select id="primary-purpose" class="form-select">
                        <option selected>Open this select menu</option>
                    </select>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="source" class="form-label">Source / Supplier</label>
                    <select id="source" class="form-select">
                        <option selected>Open this select menu</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="mb-3">
                    <label for="notes" class="form-label">Additional Notes / Remarks</label>
                    <textarea class="form-control" id="notes" rows="3"></textarea>
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-success">Cancel</button>
                <button class="btn btn-success" onclick="saveLiveStockLog()">Save Livestock Batch</button>
            </div>
        </div>
    </div>

    <script src="./../bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
    <script src="./../scripts/livestock.js"></script>
</body>

</html>