.main{
    background-image: url('./../assets/images/4.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    padding: 0px;
}

#container-opacity{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
}

.tree-description{
    padding: 0px;
}

.tree-description li{
    list-style-type: none;
}

.last-activity{
    background-color: #F4F4F4;
}